
@{
    ViewBag.Title = "getItem";
}

<br/>
<br/>
<h2>Available Items</h2>

<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    @foreach(var item in ViewBag.List)
            {
<tbody>
    <tr>
        <th scope="row">@item.iid</th>
        <td>@item.iName</td>
        <td>@item.iQuantity</td>
        <td>@item.iDesc</td>
    </tr>
</tbody>
            }
</table>
<br/>
<div>
    @Html.ActionLink("Insert Item", "insertItem", "Item", new { area = "" }, new { @class = "navbar-brand border p-2 mb-2 bg-dark text-white rounded" }) &nbsp;
    @Html.ActionLink("Update Item", "updateItem", "Item", new { area = "" }, new { @class = "navbar-brand border p-2 mb-2 bg-dark text-white rounded" }) &nbsp;
    @Html.ActionLink("Delete Item", "deleteItem", "Item", new { area = "" }, new { @class = "navbar-brand border p-2 mb-2 bg-dark text-white rounded" })
</div>
<br/>